{% include head.html %}

<body>
{% include navbar.html %}

<div class="col-md-4">
  <div class="col-md-1"></div>
  <div class="col-md-1"></div>
  <div class="col-md-1">
    <div class="projects">
      <a href="/projects">
      Projects
      </a>
    </div>
  </div>
  <div class="col-md-1"></div>
</div>

<div class="col-md-4">
  <div class="col-md-1"></div>
  <div class="col-md-2">
    <div class="middleanim"></div>
  </div>
  <div class="col-md-1"></div>
</div>

<div class="col-md-4">
  <div class="col-md-1"></div>
  <div class="col-md-1">
    <div class="profiles">
      <a href="/profiles">
      Profiles
      </a>
    </div>
  </div>
  <div class="col-md-1"></div>
</div>

 {% include endofbody.html %}

